@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinariosModel
@{
    int idVeterinario = Model.veterinario.Id;
}

<h2>Agragar o editar veterinario</h2>

<form method="post">
    <div class="form-group">
        <input type="hiden" asp-for = "veterinario.Id">
        <label asp-for="veterinario.Nombre"></label>
        <input asp-for="veterinario.Nombre" class="form-control">
        <label asp-for="veterinario.Apellido"></label>
        <input asp-for="veterinario.Apellido" class="form-control">
        <label asp-for="veterinario.Telefono"></label>
        <input asp-for="veterinario.Telefono" class="form-control">
        <label asp-for="veterinario.Direccion"></label>
        <input asp-for="veterinario.Direccion" class="form-control">
        <label asp-for="veterinario.TarjetaProfesional"></label>
        <input asp-for="veterinario.TarjetaProfesional" class="form-control">

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="./ListaVeterinarios" class="btn-default">Lista de veterinarios</a>
    </div>
</form>
