@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/index.css">
    </head>
    <body>
        <div class="row">
            <div>
                <img src="~/lib/Images/pet1.jpeg" class="img-fluid" />
            </div>
        </div>
    </body>
</html>


