/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header {
  background-color: #319DA0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

}

.navbar-brand {
  color: #16213E;
  width: auto;
  transition: all 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.2);
  color: #e7fcfc;
}

/* Provide sufficient contrast against white background */

.nav-item{
  list-style: none;
}

.nav-item{
  display: inline-block;
  padding-top: 10px;
  padding: 17px 20px 0px 0px;
}

.nav-item:hover{
  transform: scale(1.1);
}

a.nav-link {
  font-size: 14px;
  color: #16213E;
}

a.nav-link:hover {
  color: #e7fcfc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid violet;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Rock Salt', cursive;
  background-color: #F2F2F2;
}
.footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 40px; /* Vertically center the text there */
}

/**/

