body {
    font-family: 'Rock Salt', cursive;
    background-color: #d0e7e8;
}

.Box {
  margin-top: 20px;
    position: relative;
    background: #b8aadb;   
    box-shadow: 8px 8px 8px rgb(58, 58, 58); 
    border-radius: 10px 10px;
    width: 50%;
    height: 470px;
    left: 23%;
}

h2 {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-left: 32%;
    color: #16213E;
}

.Box .table{
    table-layout: fixed;
    width: 85%;
    height: 290px;
    margin-left: 7%;
    margin-bottom: 100px;
    color: black; 
    border: 3px solid black;
    border-radius: 10px 10px;
    box-shadow: 4px 4px 6px rgb(58, 58, 58); 
}


thead, tbody { display: block; }

tbody {
  width: 100%;
  height: 232px;
  overflow-y: auto;
  overflow-x: hidden;
}

thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 18%;
  }
  
  tbody td:nth-child(1) {
    width: 20%;
  }
  
  tbody td:nth-child(2) {
    width: 18%;
  }

  th, td {
    padding: 15px;
  }

  tbody td {
    font-size: 14px;
      text-align: center;
      color: white;
      text-shadow: 1px 1px 1px black;
}
  
tbody th {
    font-size: 14px;
    text-align: center;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}
      
.btn {
    padding: 4px 2px;
    font-size: 10px;
    font-weight: bold;
    color: #16213E;
    background-color: #B7C4CF;
    box-shadow: 4px 4px 6px rgb(58, 58, 58); 
    text-shadow: none;
}

.btn:hover {
    color: white;
 }
      
thead th {
    text-align: center;
    border-radius: 5px 5px;
    border-bottom: 3px solid black;
}
      
thead {
    text-shadow: 1px 1px 1px rgb(255, 253, 253);
}