body {
    background-color: #d0e7e8;
    font-family: 'Rock Salt', cursive;
    
}

.Box {
  margin-top: 20px;
    position: relative;
    background: #b8aadb;   
    box-shadow: 8px 8px 8px rgb(58, 58, 58);  
    border-radius: 10px 10px;
    width: 75%;
    height: 470px;
    left: 12%;
}

.Box .top {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}

h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 26%;
    color: #16213E;
}

.home {
  border: none;
  background: linear-gradient(180deg, #319DA0 8%, #A5C9CA 20%, #A5C9CA 100%);
  background-size: 1px 150px;
  border-radius: 5px 5px;
  box-shadow: 4px 4px 6px rgb(58, 58, 58);   
  height: 40px;
  width: 45px;
  margin-top: 15px;
  margin-right: 20px;
}

.home:hover {
  background-position: 0 -50px;
  transition: all .3s;
}


.Box .browser {
  display: flex;
    font-size: 13px;
    margin-bottom: 25px;
    margin-left: 24%;
}

select {
    margin: 0px 20px 0px 0px;
    border: none;
    width: 95px;
    height: 30px;
    color: #16213E;
    font-weight: bold;
    background: #B7C4CF;
    border-radius: 5px 5px;
    box-shadow: 4px 4px 6px rgb(58, 58, 58);  
}

input {
    margin: 0px 20px 0px 0px;
}

.Box input[type= 'submit']{
    text-align: center;
    border: none;
    width: 80px;
    height: 30px;
    color: #16213E;
    background: linear-gradient(180deg, #319DA0 6%, #A5C9CA 25%, #A5C9CA 100%);
    background-size: 1px 100px;
    font-weight: bold;
    border-radius: 8px 8px;
    box-shadow: 4px 4px 6px rgb(58, 58, 58);  

}

.Box input[type = 'submit']:hover {
    background-position: 0 -50px;
    transition: all .3s;
}

.Box input[type= 'ans']{
    border: none;
    width: 45%;
    height: 30px;
    padding-right: 10px;
    text-align: right;
    background: #B7C4CF;
    border-radius: 5px 5px;
    box-shadow: 4px 4px 6px rgb(58, 58, 58);  

}

.btn-a {
  text-decoration: none;
  margin-left: 20px;
  padding: 4px 4px;
  width: 55px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: #16213E;
  background: linear-gradient(180deg, #319DA0 6%, #A5C9CA 25%, #A5C9CA 100%);
  background-size: 1px 100px;
  box-shadow: 4px 4px 6px rgb(58, 58, 58);  
  border-radius: 5px 5px;
  text-shadow: none;
}

.btn-a:hover {
  background-position: 0 -50px;
  transition: all .3s;
}


.Box .table{
    table-layout: fixed;
    width: 90%;
    height: 290px;
    margin-left: 5%;
    margin-bottom: 100px;
    color: black; 
    border: 3px solid black;
    box-shadow: 4px 4px 6px rgb(58, 58, 58);  
}

thead, tbody { 
  display: block; 
  width: 153%;
}

tbody {
  height: 232px;
  overflow-y: auto;
  overflow-x: hidden;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5) {
  width: 15%;
}


tbody td:nth-child(1) {
  width: 10%;
}

tbody td:nth-child(2) {
  width: 10%;
}

tbody td:nth-child(3) {
  width: 10%;
}

tbody td:nth-child(4) {
  width: 10%;
}

tbody td:nth-child(5) {
  width: 22%;
}


th, td {
    padding: 10px;
  }

  
tbody td {
  font-size: 14px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
  }

a {
  margin-left: 5px;
  margin-right: 5px;
}

.btn {
  padding: 4px 2px;
  font-size: 10px;
  font-weight: bold;
  color: #16213E;
  background-color: #B7C4CF;
  box-shadow: 4px 4px 6px rgb(58, 58, 58);  
  text-shadow: none;
}

.btn:hover {
  color: white;
}

thead th {
    text-align: center;
    border-radius: 5px 5px;
  }

thead {
  text-shadow: 1px 1px 1px rgb(255, 253, 253);
}






