body {
    font-family: 'Rock Salt', cursive;
}

.box {
    margin-top: 20px;
    position: relative;
    background: #D3CEDF;   
    box-shadow: 2px 2px 5px rgb(62, 65, 255); 
    border-radius: 10px 10px;
    width: 400px;
    height: 450px;
    left: 32%;
 
}

h1{
    color: #0F3460;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.form-control {
    border: none;   
    width: 65%;
    margin-right: 30px;
    margin-left: 68px;
    margin-top: 0px;
    outline-color: #0AA1DD;
    border-radius: 6px 6px;
    background: #F0F0F0;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #0F3460;
}

label {
    margin-bottom: 0px;
    margin-top: 18px;
    font-size: 12px;
    margin-left: 75px;
    width: 90%
}

.box input[type = 'submit'] {
    text-align: center;
    border: none;
    width: 80px;
    padding: 10px;
    color: #0F3460;
    background: #319DA0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px 20px;
    box-shadow: 3px 5px 10px gray;
}

.box input[type = 'submit']{
    position: absolute;
    left: 150px;
    margin-top: 40px;
}

.box input[type = 'submit']:hover {
    background: #7FBCD2;
}
